* {
    box-sizing: border-box;
}

html {
    // font-family: Montserrat, sans-serif;
    line-height: 1.6;
}

body {
    margin: 0;
    font-family: RobotoRegular;
    background-color: #f0ebf8;
    
}

html, body {
    height: 100%;
}

#app {
    min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 ;
    // font-family: GreatVibes, serif;
    font-weight: 400;
}

h1 {
    font-size: em(46px);
}

p {
    margin: 0 0 1rem;
    max-width: 42ch;
}

img {
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

textarea {
    resize: none;
}

a {
    text-decoration: none;
}