.templates{
    width: 60vw;
    margin-top: 20px;
    .template-list{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
        .template-preview{
            display: flex;
            flex-direction: column;
            background-color: #fff;
            color: black;
            height: 169px;
            img{
                flex: 1;
            }
            .template-info{
                padding: 10px 20px;
            }
        }
    }
}