.alert{
    width: 25vw;
    position: absolute;
    right: 0;
    bottom: 20px;
    transform: translateX(100%);
    background-color: rgb(144, 238, 144);
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1;
    color: black;
    transition: all 1s;
    &.alive{
        transform: translateX(-8%);
    }
}